.button {
	position: relative;
	height: 4rem;
	text-transform: uppercase;
	font-size: 1.05em;
	color: var(--lace);
	background: var(--goblin);
	border-radius: 4rem;
	border: none;
	padding: 0 2.75rem;
	font-weight: 700;
	z-index: 2;
	overflow: hidden;
	cursor: pointer;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		content: '';
		background: var(--coal);
		z-index: -1;
		transition: all .75s cubic-bezier(0.22, 1, 0.36, 1);
	}
	&:hover {
		&:before {
			width: 100%;
		}
	}
}