@keyframes slide {
	50% {
		opacity: 100%;
	}
	to {
		opacity: 0;
		transform: rotate(-45deg) translateX(-1.5em) translateY(1.5em);
	}
}

.scroll {
	position: absolute;
	bottom: -3em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
	span {
		display: block;
		width: 3em;
		height: 3em;
		border-color: var(--lace);
		border-bottom: 6px solid;
		border-left: 6px solid;
		opacity: 0;
		transform: rotate(-45deg);
		animation: slide 1s infinite ease;
		&:not(:last-of-type) {
			margin-bottom: .5em;
		}
		&:nth-child(1) {
			animation: slide 2s infinite ease;
		}
		&:nth-child(2) {
			animation: slide 2s .25s infinite ease;
		}
		&:nth-child(3) {
			animation: slide 2s .5s infinite ease;
		}
	}
}